# Data Cleaning and Pre-processing

 We will be first checking for basic discrepancies in the data like --
 
       1.Missing Data 
       2. Reasons for missing data 
       3.Dropping or filling missing values 
       4. Data types 
       5.Outlier problems etc

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

## Reading the data into the notebook

In [3]:
book_tags = pd.read_csv("/Users/sharathg/Desktop/DataSets/goodbooks-10k/book_tags.csv")
books = pd.read_csv('/Users/sharathg/Desktop/DataSets/goodbooks-10k/books.csv',encoding ='latin-1')
Uni_usr_rtg = pd.read_csv('/Users/sharathg/Desktop/DataSets/goodbooks-10k/Uni_Usr_rtg')
Uni_avg_rtg = pd.read_csv('/Users/sharathg/Desktop/DataSets/goodbooks-10k/Uniq_Avg_rtg')
tags_books =pd.read_csv("/Users/sharathg/Desktop/DataSets/goodbooks-10k/tags.csv")
to_read = pd.read_csv("/Users/sharathg/Desktop/DataSets/goodbooks-10k/to_read.csv")

# We take a look at all the dataframes to get an idea for further analysis.

In [4]:
to_read.head()

   user_id  book_id
0        1      112
1        1      235
2        1      533
3        1     1198
4        1     1874

In [5]:
Uni_usr_rtg.head()

   user_id  book_id  rating  avg_rtng_by_user
1        1     6285       4          3.666667
2        1     1180       4          3.666667
3        1     4893       3          3.666667
4        2     8855       5          4.333333
5        2     9762       4          4.333333

In [6]:
Uni_avg_rtg.head()

   book_id  avg_rating_on_book
1        1                4.24
2        2                4.21
3        3                3.09
4        4                4.46
5        5                3.89

In [7]:
tags_books.head(5)

   tag_id tag_name
0       0        -
1       1     --1-
2       2    --10-
3       3    --12-
4       4   --122-

In [8]:
book_tags.sample(5)

        goodreads_book_id  tag_id  count
440213             227265   18367     73
794583           11797365    4596     11
594317            1528410    9367     18
713792            7715664   22987      9
723364            7933437     670     12

In [9]:
len(tags_books.tag_name.unique())

34252

# Starting with the 'books' dataset

In [10]:
books.head(5)

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780000e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780000e+12,"J.K. Rowling, Mary GrandPrÌ©",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780000e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780000e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780000e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

## The most loved book in the top 10,000 rated books on Goodreads.com is --##
                            ## The Hunger Games by Suzanne Collins ! ##
                            
                            
### Below is the list of the top 10 rated books on goodreads.com ###

In [11]:
books.sort_values('ratings_count',ascending = False)[:11]

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780000e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780000e+12,"J.K. Rowling, Mary GrandPrÌ©",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780000e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780000e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780000e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...
5,6,11870085,11870085,16827462,226,525478817,9.780000e+12,John Green,2012.0,The Fault in Our Stars,...,2346404,2478609,140739,47994,92723,327550,698471,1311871,https://images.gr-assets.com/books/1360206420m...,https://images.gr-assets.com/books/1360206420s...
6,7,5907,5907,1540236,969,618260307,9.780000e+12,J.R.R. Tolkien,1937.0,The Hobbit or There and Back Again,...,2071616,2196809,37653,46023,76784,288649,665635,1119718,https://images.gr-assets.com/books/1372847500m...,https://images.gr-assets.com/books/1372847500s...
7,8,5107,5107,3036731,360,316769177,9.780000e+12,J.D. Salinger,1951.0,The Catcher in the Rye,...,2044241,2120637,44920,109383,185520,455042,661516,709176,https://images.gr-assets.com/books/1398034300m...,https://images.gr-assets.com/books/1398034300s...
9,10,1885,1885,3060926,3455,679783261,9.780000e+12,Jane Austen,1813.0,Pride and Prejudice,...,2035490,2191465,49152,54700,86485,284852,609755,1155673,https://images.gr-assets.com/books/1320399351m...,https://images.gr-assets.com/books/1320399351s...
8,9,960,960,3338963,311,1416524797,9.780000e+12,Dan Brown,2000.0,Angels & Demons,...,2001311,2078754,25112,77841,145740,458429,716569,680175,https://images.gr-assets.com/books/1303390735m...,https://images.gr-assets.com/books/1303390735s...
14,15,48855,48855,3532896,710,553296981,9.780000e+12,"Anne Frank, Eleanor Roosevelt, B.M. Mooyaart-D...",1947.0,Het Achterhuis: Dagboekbrieven 14 juni 1942 - ...,...,1972666,2024493,20825,45225,91270,355756,656870,875372,https://images.gr-assets.com/books/1358276407m...,https://images.gr-assets.com/books/1358276407s...

### Analysisng on what time these classics were written to  get an insight

In [12]:
len(books.isbn13.unique())

14

### Since there are only 14 unique ISBN13 values , there is no point using this column and hence we drop it ###
   #### Similarly we are not using the image urls nor the small image urls and hence we drop them too .

In [13]:
books.drop(['isbn13','image_url','small_image_url'],axis = 1,inplace = True)

In [14]:
len(books.columns)

20

In [15]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
id                           10000 non-null int64
book_id                      10000 non-null int64
best_book_id                 10000 non-null int64
work_id                      10000 non-null int64
books_count                  10000 non-null int64
isbn                         9300 non-null object
authors                      10000 non-null object
original_publication_year    9979 non-null float64
original_title               9415 non-null object
title                        10000 non-null object
language_code                8916 non-null object
average_rating               10000 non-null float64
ratings_count                10000 non-null int64
work_ratings_count           10000 non-null int64
work_text_reviews_count      10000 non-null int64
ratings_1                    10000 non-null int64
ratings_2                    10000 non-null int64
ratings_3                    10000 non-null int64
ratings_4                    10000 non-null int64
ratings_5                    10000 non-null int64
dtypes: float64(2), int64(13), object(5)
memory usage: 1.5+ MB

In [16]:
books.shape

(10000, 20)

In [17]:
books.original_publication_year=books.original_publication_year.fillna(0)

In [18]:
books.original_publication_year=books.original_publication_year.astype('int')

In [19]:
books.head()

,id,book_id,best_book_id,work_id,books_count,isbn,authors,original_publication_year,original_title,title,language_code,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
0,1,2767052,2767052,2792775,272,439023483,Suzanne Collins,2008,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",eng,4.34,4780653,4942365,155254,66715,127936,560092,1481305,2706317
1,2,3,3,4640799,491,439554934,"J.K. Rowling, Mary GrandPrÌ©",1997,Harry Potter and the Philosopher's Stone,Harry Potter and the Sorcerer's Stone (Harry P...,eng,4.44,4602479,4800065,75867,75504,101676,455024,1156318,3011543
2,3,41865,41865,3212258,226,316015849,Stephenie Meyer,2005,Twilight,"Twilight (Twilight, #1)",en-US,3.57,3866839,3916824,95009,456191,436802,793319,875073,1355439
3,4,2657,2657,3275794,487,61120081,Harper Lee,1960,To Kill a Mockingbird,To Kill a Mockingbird,eng,4.25,3198671,3340896,72586,60427,117415,446835,1001952,1714267
4,5,4671,4671,245494,1356,743273567,F. Scott Fitzgerald,1925,The Great Gatsby,The Great Gatsby,eng,3.89,2683664,2773745,51992,86236,197621,606158,936012,947718

In [36]:
def Lang(name):
    l=books.language_code=='name'
    return books[l]

In [41]:
Lang('swe')

Empty DataFrame
Columns: [id, book_id, best_book_id, work_id, books_count, isbn, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5]
Index: []

In [39]:
languages = ['eng', 'en-US', 'en-CA','spa', 'en-GB', 'fre', 'nl', 'ara',
       'por', 'ger', 'nor', 'jpn', 'en', 'vie', 'ind', 'pol', 'tur', 'dan',
       'fil', 'ita', 'per', 'swe', 'rum', 'mul', 'rus']
for i in languages:
    print(Lang(i))

Empty DataFrame
Columns: [id, book_id, best_book_id, work_id, books_count, isbn, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5]
Index: []
Empty DataFrame
Columns: [id, book_id, best_book_id, work_id, books_count, isbn, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5]
Index: []
Empty DataFrame
Columns: [id, book_id, best_book_id, work_id, books_count, isbn, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5]
Index: []
Empty DataFrame
Columns: [id, book_id, best_book_id, work_id, books_count, isbn, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5]
Index: []
Empty DataFrame
Columns: [id, book_id, best_book_id, work_id, books_count, isbn, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5]
Index: []
Empty DataFrame
Columns: [id, book_id, best_book_id, work_id, books_count, isbn, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5]
Index: []
Empty DataFrame
Columns: [id, book_id, best_book_id, work_id, books_count, isbn, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5]
Index: []
Empty DataFrame
Columns: [id, book_id, best_book_id, work_id, books_count, isbn, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5]
Index: []
Empty DataFrame
Columns: [id, book_id, best_book_id, work_id, books_count, isbn, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5]
Index: []
Empty DataFrame
Columns: [id, book_id, best_book_id, work_id, books_count, isbn, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5]
Index: []
Empty DataFrame
Columns: [id, book_id, best_book_id, work_id, books_count, isbn, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5]
Index: []
Empty DataFrame
Columns: [id, book_id, best_book_id, work_id, books_count, isbn, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5]
Index: []
Empty DataFrame
Columns: [id, book_id, best_book_id, work_id, books_count, isbn, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5]
Index: []
Empty DataFrame
Columns: [id, book_id, best_book_id, work_id, books_count, isbn, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5]
Index: []
Empty DataFrame
Columns: [id, book_id, best_book_id, work_id, books_count, isbn, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5]
Index: []
Empty DataFrame
Columns: [id, book_id, best_book_id, work_id, books_count, isbn, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5]
Index: []
Empty DataFrame
Columns: [id, book_id, best_book_id, work_id, books_count, isbn, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5]
Index: []
Empty DataFrame
Columns: [id, book_id, best_book_id, work_id, books_count, isbn, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5]
Index: []
Empty DataFrame
Columns: [id, book_id, best_book_id, work_id, books_count, isbn, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5]
Index: []
Empty DataFrame
Columns: [id, book_id, best_book_id, work_id, books_count, isbn, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5]
Index: []
Empty DataFrame
Columns: [id, book_id, best_book_id, work_id, books_count, isbn, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5]
Index: []
Empty DataFrame
Columns: [id, book_id, best_book_id, work_id, books_count, isbn, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5]
Index: []
Empty DataFrame
Columns: [id, book_id, best_book_id, work_id, books_count, isbn, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5]
Index: []
Empty DataFrame
Columns: [id, book_id, best_book_id, work_id, books_count, isbn, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5]
Index: []
Empty DataFrame
Columns: [id, book_id, best_book_id, work_id, books_count, isbn, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5]
Index: []

In [42]:
(books[books.language_code =='swe'])

,id,book_id,best_book_id,work_id,books_count,isbn,authors,original_publication_year,original_title,title,language_code,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
7751,7752,1457790,1457790,1448591,100,9137126385,Camilla LÌ_ckberg,2005,Stenhuggaren,"Stenhuggaren (Patrik HedstrÌ¦m, #3)",swe,3.85,6435,15722,1269,260,759,3862,7092,3749

In [20]:
(books.language_code.unique())

array(['eng', 'en-US', 'en-CA', nan, 'spa', 'en-GB', 'fre', 'nl', 'ara',
       'por', 'ger', 'nor', 'jpn', 'en', 'vie', 'ind', 'pol', 'tur', 'dan',
       'fil', 'ita', 'per', 'swe', 'rum', 'mul', 'rus'], dtype=object)

In [27]:
books.replace(to_replace ={'en-US','en-CA','en-GB',''})

(10000, 20)

In [33]:
books[books.language_code == 'ara']

,id,book_id,best_book_id,work_id,books_count,isbn,authors,original_publication_year,original_title,title,language_code,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
1371,1372,16031620,16031620,21801712,6,NaN,¯£¯_ôÉ¯ø ôÉ¯±¯¤¯ø,2012,¯¤ôãôô_ôã ¯¤ôã¯£¯_¯±ôâ,¯¤ôãôô_ôã ¯¤ôã¯£¯_¯±ôâ,ara,3.80,53187,54340,5771,2780,4687,11444,16996,18433
1474,1475,16081961,16081961,21881449,7,NaN,"¯£¯_ôã¯¤ôÉ ôÉ¯_¯»¯¼¯¤ô ôÉô_, Ahlam Mosteghanemi",2012,¯¤ôã¯£¯_ôö¯ø ô_ôãô_ôâ ¯¬ôÄ,¯¤ôã¯£¯_ôö¯ø ô_ôãô_ôâ ¯¬ôÄ,ara,3.72,42958,52255,5459,3323,5535,11642,13878,17877
1646,1647,7704143,7704143,10406860,13,NaN,¯£¯_ôÉ¯ø ôÉ¯±¯¤¯ø,2010,¯»¯±¯¤¯¬ ¯¤ôãôÉ¯¤¯_,¯»¯±¯¤¯¬ ¯¤ôãôÉ¯¤¯_,ara,4.09,43016,45608,4027,995,2050,7402,16743,18418
1786,1787,20317106,20317106,28155746,7,NaN,ôÉ¯_ôÉ¯ø ¯µ¯¤¯øôâ,2014,ôàô_¯¬¯»¯¤,ôàô_¯¬¯»¯¤,ara,3.82,42978,43298,5680,2886,4135,8052,11237,16988
1932,1933,7119070,7119070,7379975,11,NaN,¯£¯Çô_¯± ¯_¯¬¯ø¯¤ôãôãôà ¯¤ôãô ¯«ôÉô_,2010,¯£¯_¯¬¯¬¯»ôÄ ¯£ôÄ¯Ç¯± ôÉôÉ¯¤ ô_ô ¯¬¯¼ôä,¯£¯_¯¬¯¬¯»ôÄ ¯£ôÄ¯Ç¯± ôÉôÉ¯¤ ô_ô ¯¬¯¼ô_,ara,3.67,31779,42357,4898,3563,4620,8914,10505,14755
2032,2033,3554772,3554772,3596896,25,NaN,ô_ôö¯_ô ¯_ô_¯ø¯¤ô,2008,¯_¯_¯¤¯_ô_ôã,¯_¯_¯¤¯_ô_ôã,ara,4.07,37404,40463,4669,1302,2083,6316,13692,17070
2081,2082,646462,646462,632609,702,NaN,Anonymous,609,¯¤ôãôâ¯±¯¢ô Û_Û_ [al-Quræ_n],The Qur'an / ¯¤ôãôâ¯±¯¢ô ¯¤ôãôÄ¯±ô_ôÉ,ara,4.34,31765,43438,2619,2950,2008,3702,3434,31344
2291,2292,13637412,13637412,19249727,14,6140105234,"¯_¯_ôö¯ø ¯¤ôã¯_ô ¯_ôö¯_ô_, Saud Alsanousi",2012,¯_¯¤ôâ ¯¤ôã¯¬¯¤ôÉ¯¬ôö [Saq al-Bambu],¯_¯¤ôâ ¯¤ôã¯¬¯¤ôÉ¯¬ôö,ara,4.25,38969,39776,7069,551,1210,5222,13626,19167
2587,2588,3503947,3503947,3545602,18,9773513912,¯£¯_ôÉ¯ø ¯¨¯¤ôã¯ø ¯»ôöôô_ôâ,2008,ô_ôö¯»ôö¯¬ô_¯¤,ô_ôö¯»ôö¯¬ô_¯¤,ara,3.90,31669,32536,3824,997,2111,6760,11945,10723
3092,3093,3438000,3438000,3479009,17,9770907375,"Radwa Ashour, ¯±¯¦ôöôä ¯_¯¤¯«ôö¯±",1994,¯Çôã¯¤¯Çô_¯© ¯¼¯±ô ¯¤¯á¯©,¯Çôã¯¤¯Çô_¯© ¯¼¯±ô ¯¤¯á¯©,ara,4.29,27568,28954,5475,463,903,3261,9444,14883
3223,3224,2750180,2750180,2775877,36,NaN,¯_¯¤¯_¯¦ ¯¤ôãôâ¯±ô ô_,2003,ôã¯¤ ¯»¯_¯_ô,ôã¯¤ ¯»¯_¯_ô,ara,4.15,18825,24957,2031,935,1258,3573,6519,12672
3250,3251,5664022,5664022,5835554,15,NaN,ôÉ¯µ¯áôôä ôÉ¯_ôÉôö¯ø,1974,NaN,¯_ôö¯¤¯± ôÉ¯_ ¯µ¯øô_ôâô_ ¯¤ôãôÉôã¯_¯ø,ara,3.95,23898,26250,2545,1459,1734,4277,7941,10839
3271,3272,6621287,6621287,6815455,9,NaN,"¯£¯_ôã¯¤ôÉ ôÉ¯_¯»¯¼¯¤ô ôÉô_, Ahlam Mosteghanemi",2009,ô ¯_ô_¯¤ô ôÄôöôÉ,com ô ¯_ô_¯¤ô,ara,3.73,24884,25123,2318,1742,2648,5440,6147,9146
3287,3288,20316309,20316309,21468729,10,NaN,¯¨ôöôã¯© ¯_ôÉ¯øô_,2012,ôô_ ôâôã¯¬ô_ ¯£ô ¯Çôä ¯_¯¬¯±ô_¯©,ôô_ ôâôã¯¬ô_ ¯£ô ¯Çôä ¯_¯¬¯±ô_¯©,ara,4.04,22912,29041,4547,1267,1873,4402,8354,13145
3437,3438,18711993,18711993,26571674,5,NaN,¯£¯Çô_¯± ¯_¯¬¯ø¯¤ôãôãôà ¯¤ôãô ¯«ôÉô_,2013,ôôã¯»¯¼ô¯±ôä,ôôã¯»¯¼ô¯±ô_,ara,3.50,23407,24600,2831,2243,3330,5954,6007,7066
3537,3538,3831279,3831279,3876012,16,NaN,¯£¯_ôÉ¯ø ôÉ¯±¯¤¯ø,2007,ò_ô_¯±¯»ô_¯Âôö,ò_ô_¯±¯»ô_¯Âôö,ara,3.72,17001,22554,1619,676,1731,6389,8142,5616
4234,4235,21456940,21456940,40771304,2,NaN,¯£¯_ôÉ¯ø ôÉ¯±¯¤¯ø,2014,1919,1919,ara,3.65,17330,17334,2421,838,1712,4619,5645,4520
4263,4264,2501458,2501458,2508823,29,NaN,"¯£¯_ôã¯¤ôÉ ôÉ¯_¯»¯¼¯¤ô ôÉô_, Ahlam Mosteghanemi",1993,¯¡¯¤ôÄ¯±¯© ¯¤ôã¯Â¯_¯ø,¯¡¯¤ôÄ¯±¯© ¯¤ôã¯Â¯_¯ø,ara,3.87,17717,20432,1794,913,1596,4318,6087,7518
4375,4376,1220507,1220507,1208988,44,9770919403,"Alaa Al Aswany, ¯_ôã¯¤¯Á ¯¤ôã¯£¯_ôö¯¤ô ô_",2007,¯«ô_ôÄ¯¤¯Âôö,¯«ô_ôÄ¯¤¯Âôö,ara,3.41,17325,18748,1688,1500,2411,5352,5962,3523
4590,4591,6604887,6604887,6798790,9,NaN,ôÉô ôä ¯¤ôãôÉ¯±¯«ôö¯ø,2007,¯£ô ¯» ôãô_,¯£ô ¯» ôãô_,ara,4.03,15108,18259,2434,1105,1308,2629,4143,9074
4675,4676,3692091,3692091,3735566,5,NaN,Essam Youssef,2008,1/4 ¯Â¯±¯¤ôÉ,1/4 ¯Â¯±¯¤ôÉ,ara,4.02,15919,16725,1895,723,1012,2763,4996,7231
4759,4760,3338544,3338544,3376763,9,NaN,ôÉ¯µ¯áôôä ôÉ¯_ôÉôö¯ø,1970,¯±¯_ôã¯»ô_ ôÉô ¯¤ôã¯«ôÄ ¯´ôãôä ¯¤ôã¯´ô_ôÉ¯¤ô,¯±¯_ôã¯»ô_ ôÉô ¯¤ôã¯«ôÄ ¯´ôãôä ¯¤ôã¯´ô_ôÉ¯¤ô,ara,4.03,16854,17687,1682,521,987,3072,6054,7053
4934,4935,13489517,13489517,19028214,8,NaN,¯£¯_ôÉ¯ø ¯_ôãôÉô_,2012,28 ¯_¯±ô,28 ¯_¯±ô,ara,3.10,15708,16368,1614,1818,3325,5293,3211,2721
4979,4980,2501455,2501455,2508820,9,NaN,"¯£¯_ôã¯¤ôÉ ôÉ¯_¯»¯¼¯¤ô ôÉô_, Ahlam Mosteghanemi",1997,ôôö¯¦ôä ¯¤ôã¯_ôö¯¤¯_,ôôö¯¦ôä ¯¤ôã¯_ôö¯¤¯_,ara,3.83,16337,16858,1248,635,1413,3913,5041,5856
5001,5002,10400407,10400407,18324025,4,9953716889,¯£¯Çô_¯± ¯_¯¬¯ø¯¤ôãôãôà ¯¤ôãô ¯«ôÉô_,2011,ôô_ ¯øô_¯_ôÉ¯¬¯± ¯»ô ¯»ôàô_ ôÄôã ¯¤ôã¯£¯_ôã¯¤ôÉ,ôô_ ¯øô_¯_ôÉ¯¬¯± ¯»ô ¯»ôàô_ ôÄôã ¯¤ôã¯£¯_ôã¯¤ôÉ,ara,3.33,16479,17411,2021,1601,2897,4977,3958,3978
5045,5046,2364284,2364284,14413597,42,9770915343,"Naguib Mahfouz, ô ¯Âô_¯¬ ôÉ¯_ôôö¯ü",1959,¯£ôöôã¯¤¯ø ¯_¯¤¯±¯»ô ¯¤,¯£ôöôã¯¤¯ø ¯_¯¤¯±¯»ô ¯¤,ara,4.10,14860,16847,1938,599,891,2455,5261,7641
5372,5373,10706934,10706934,15617293,5,NaN,ô_¯¤¯_¯± ¯_¯¤¯±¯¬,2011,¯¬ô_ôÄ¯¤¯_ôö ôö¯_¯»¯¤¯±¯¬ôÄ¯_,¯¬ô_ôÄ¯¤¯_ôö ôö¯_¯»¯¤¯±¯¬ôÄ¯_,ara,3.55,16117,16294,2397,1213,2085,4127,4232,4637
5646,5647,2508854,2508854,2516225,36,NaN,"¯¨¯¤ôã¯ø ¯¤ôã¯¨ôÉô_¯_ô_, Khaled Al Khamissi",2006,¯»¯¤ôÄ¯_ô_: ¯_ôö¯¤¯øô_¯» ¯¤ôãôÉ¯«¯¤ôöô_¯±,¯»¯¤ôÄ¯_ô_: ¯_ôö¯¤¯øô_¯» ¯¤ôãôÉ¯«¯¤ôöô_¯±,ara,3.68,11981,14221,1274,439,1139,4102,5416,3125
5705,5706,18363068,18363068,25220380,3,NaN,ôÉ¯_ôÉ¯ø ¯¤ôã¯_¯¤ôãôÉ,2013,NaN,¯_¯¬ô_¯¬¯»ô_ ¯¬ôÄôÉ¯¤¯Á,ara,3.30,12690,13439,1675,2522,2008,2414,1917,4578
5989,5990,8239301,8239301,13086736,11,NaN,"Radwa Ashour, ¯±¯¦ôöôä ¯_¯¤¯«ôö¯±",2010,¯¤ôã¯áô ¯áôö¯±ô_¯©,¯¤ôã¯áô ¯áôö¯±ô_¯©,ara,4.32,13931,15595,3008,307,386,1627,4973,8302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7042,7043,17524166,17524166,24434349,41,NaN,"Alaa Al Aswany, ¯_ôã¯¤¯Á ¯¤ôã¯£¯_ôö¯¤ô ô_",2013,NaN,ô ¯¤¯øô_ ¯¤ôã¯_ô_¯¤¯±¯¤¯»,ara,3.41,8576,11108,1733,793,1399,3358,3605,1953
7113,7114,2501453,2501453,2508818,3,NaN,"¯£¯_ôã¯¤ôÉ ôÉ¯_¯»¯¼¯¤ô ôÉô_, Ahlam Mosteghanemi",2003,¯_¯¤¯¬¯± ¯_¯±ô_¯±,¯_¯¤¯¬¯± ¯_¯±ô_¯±,ara,3.64,11783,11856,712,625,1281,3241,3294,3415
7293,7294,11995136,11995136,16959274,7,NaN,"ô_ôö¯_ô ¯_ô_¯ø¯¤ô , Youssef Ziedan",2012,ôÉ¯_¯¤ôã,ôÉ¯_¯¤ôã,ara,3.31,10074,10110,1283,705,1483,3426,2938,1558
7449,7450,5557442,5557442,5728574,11,NaN,ô_ôö¯_ô ¯_ô_¯ø¯¤ô,2006,¯üôã ¯¤ôã¯£ô¯_ôä,¯üôã ¯¤ôã¯£ô¯_ôä,ara,3.00,8299,10879,1593,1708,2203,3013,2312,1643
7471,7472,16076787,16076787,21872840,5,NaN,¯£¯_ôÉ¯ø ¯¨¯¤ôã¯ø ¯»ôöôô_ôâ,2012,¯¤ôã¯_ô ¯Â¯©,¯¤ôã¯_ô ¯Â¯©,ara,3.16,10449,10724,1478,1051,1895,3540,2772,1466
7789,7790,7701043,7701043,10395196,3,NaN,¯_¯_ô ¯¤ôã¯Âô ¯øô_,2011,¯¤ôã¯Â¯_¯¤¯±,¯¤ôã¯Â¯_¯¤¯±,ara,4.11,9413,10370,1329,246,534,1662,3367,4561
7822,7823,3331756,3331756,3369780,14,NaN,¯¼¯_¯¤ô ôÄô ô¯¤ô ô_,1969,¯_¯¤¯_¯ø ¯´ôãôä ¯_ô_ô¯¤,¯_¯¤¯_¯ø ¯´ôãôä ¯_ô_ô¯¤,ara,4.32,11315,11976,2255,96,260,1360,4222,6038
7830,7831,4488657,4488657,4757628,8,9770148083,"¯µôã¯¤¯_ ¯Â¯¤ôàô_ô , ô_¯_ô_ôä ¯_ôâô_",1963,¯±¯¬¯¤¯_ô_¯¤¯» ¯µôã¯¤¯_ ¯Â¯¤ôàô_ô,¯±¯¬¯¤¯_ô_¯¤¯» ¯µôã¯¤¯_ ¯Â¯¤ôàô_ô,ara,4.43,9995,10576,625,120,201,1041,2826,6388
7936,7937,13562054,13562054,19137273,4,9770931357,¯_¯_¯¤ôã¯øô_ô ¯«ôÄ¯±ô_ ô¯«ô_¯±,2012,¯¬¯¤¯¬ ¯¤ôã¯¨¯±ôö¯Â: ¯±¯_¯¤ôã¯© ¯_ôãô_ ¯¤ôãôÉô...,¯¬¯¤¯¬ ¯¤ôã¯¨¯±ôö¯Â: ¯±¯_¯¤ôã¯© ¯_ôãô_ ¯¤ôãôÉô...,ara,3.88,9246,9560,1754,255,605,2017,3825,2858
8208,8209,4653511,4653511,120632,20,NaN,¯¼¯_¯¤ô ôÄô ô¯¤ô ô_,1963,¯±¯Â¯¤ôã ôô_ ¯¤ôã¯«ôÉ¯_,¯±¯Â¯¤ôã ôô_ ¯¤ôã¯«ôÉ¯_,ara,4.16,10016,10923,1821,121,363,1724,4114,4601
8246,8247,3240691,3240691,3275385,22,NaN,¯¬ôà¯¤¯Á ¯á¯¤ôà¯±,2006,ôö¯¤¯_¯© ¯¤ôã¯¼¯±ôö¯¬,ôö¯¤¯_¯© ¯¤ôã¯¼¯±ôö¯¬,ara,3.82,10365,10570,1306,270,706,2531,4203,2860
8262,8263,18387597,18387597,26008568,5,NaN,Essam Youssef,2013,2 ¯¦¯¬¯¤¯á,2 ¯¦¯¬¯¤¯á,ara,3.64,8109,8864,1218,532,942,2165,2727,2498
8440,8441,5607622,11512161,5778998,7,NaN,"ôÉ¯_ôÉ¯ø ¯¤ôãôÉô ¯_ô_ ôâô ¯øô_ôã, Mohamed Mans...",2004,ôâôÉ¯± ¯_ôãôä ¯_ôÉ¯±ôâô ¯ø,ôâôÉ¯± ¯_ôãôä ¯_ôÉ¯±ôâô ¯ø,ara,3.90,5070,9977,1644,386,587,1976,3765,3263
8446,8447,18323154,18323154,25843086,3,NaN,¯_¯_ô ôÄôÉ¯¤ôã,2013,¯¤ôãôÉ¯±¯_ôöôÉ,¯¤ôãôÉ¯±¯_ôöôÉ,ara,3.51,8937,9020,1250,576,1071,2526,2854,1993
8465,8466,7824768,7824768,10871526,2,NaN,¯¨¯¤ôã¯ø ¯¤ôã¯¬¯¤¯»ôãô_,2010,ôãô_¯»ôà¯¤ ¯»ôâ¯±¯£,ôãô_¯»ôà¯¤ ¯»ôâ¯±¯£,ara,3.04,9807,9829,1427,1662,1921,2575,1731,1940
8615,8616,21394850,21394850,40691767,2,NaN,¯_ôã¯á¯¤ô ôÉôö¯_ôä ¯¤ôãôÉôö¯_ôä,2014,NaN,¯£ôâôöôÉ ôâô_ôã¯¤,ara,3.99,9612,9914,1497,421,695,1753,2752,4293
8633,8634,18039755,18039755,22012689,10,1627761314,"Ibraheem Abbas, ¯´¯¬¯±¯¤ôàô_ôÉ ¯_¯¬¯¤¯_, Yasse...",2013,¯_ôö¯Âô,¯_ôö¯Âô [Hí£awjan],ara,3.75,10203,10577,1590,945,1121,1951,2206,4354
8747,8748,3243517,3243517,832084,27,NaN,"Mourid Barghouti, ôÉ¯±ô_¯ø ¯¤ôã¯¬¯±¯¼ôö¯Çô_",1997,¯±¯£ô_¯» ¯±¯¤ôÉ ¯¤ôãôãôà,¯±¯£ô_¯» ¯±¯¤ôÉ ¯¤ôãôãôà,ara,4.15,8602,10454,1986,152,358,1689,3829,4426
9038,9039,3491072,3491072,3532508,7,NaN,¯£ô ô_¯_ ôÉô ¯µôö¯±,1963,¯_ôöôã ¯¤ôã¯_¯¤ôãôÉ ôô_ 200 ô_ôöôÉ,¯_ôöôã ¯¤ôã¯_¯¤ôãôÉ ôô_ 200 ô_ôöôÉ,ara,4.08,8630,9130,710,186,442,1628,3077,3797
9220,9221,9722217,9722217,14610992,3,NaN,ô ôö¯± ¯_¯¬¯ø¯¤ôãôÉ¯Âô_¯ø,2012,NaN,¯±¯¼ôÉ ¯¤ôãô¯±¯¤ôâ,ara,3.97,7822,7845,1198,343,570,1342,2331,3259
9444,9445,13151283,13151283,18329307,3,NaN,ôÉ¯_ôÉ¯ø ¯µ¯¤¯øôâ,2012,¯¬¯¦¯_ ¯_¯¤¯_¯¤¯» ôô_ ô_ôöôÉ ôÉ¯¤,¯¬¯¦¯_ ¯_¯¤¯_¯¤¯» ôô_ ô_ôöôÉ ôÉ¯¤,ara,3.14,7806,7875,855,1222,1338,2021,1671,1623
9511,9512,3692151,3692151,3735626,1,9773990494,¯_ôÉ¯± ¯á¯¤ôà¯±,2003,¯«ôÄôãôà¯¤ ¯¬¯¤¯ü¯»,¯«ôÄôãôà¯¤ ¯¬¯¤¯ü¯»,ara,3.52,8257,8257,482,355,948,2675,2644,1635
9554,9555,11942408,11942408,16903753,1,NaN,¯_ôÉ¯±ôö ¯_ôã¯¤ôÉ¯©,2011,¯«¯¤¯¬ ôÄ¯«ôÄ ôô_ ¯±¯_ôã¯© ¯¤ôã¯¬¯_¯Ç ¯_ô ¯¤...,¯«¯¤¯¬ ôÄ¯«ôÄ ôô_ ¯±¯_ôã¯© ¯¤ôã¯¬¯_¯Ç ¯_ô ¯¤...,ara,3.66,8128,8128,846,358,825,2179,2610,2156
9569,9570,16170625,16170625,22017733,3,NaN,ôÉ¯µ¯áôôä ¯´¯¬¯±¯¤ôàô_ôÉ,2013,¯¤ôãôÉ¯¤ô ô_ô¯_¯»ôö,¯¤ôãôÉ¯¤ô ô_ô¯_¯»ôö,ara,4.21,7943,7956,1112,229,280,1041,2477,3929
9609,9610,17339590,17339590,24074646,4,NaN,¯_¯_ô ¯¤ôã¯Âô ¯øô_,2013,"""¯_ôÄ¯¤ô_¯¤¯» ô¯±¯¼ôãô_ ¯¤ôãôÉ¯_¯»ôÄ¯¤ôöô_ ""¯...","""¯_ôÄ¯¤ô_¯¤¯» ô¯±¯¼ôãô_ ¯¤ôãôÉ¯_¯»ôÄ¯¤ôöô_ ""¯...",ara,3.57,7443,8288,1220,532,970,2188,2404,2194
9682,9683,16170522,16170522,22017575,2,NaN,¯»¯¤ôÉ¯± ¯´¯¬¯±¯¤ôàô_ôÉ,2012,¯µ¯¤ô ¯_ ¯¤ôã¯üôã¯¤ôÉ,¯µ¯¤ô ¯_ ¯¤ôã¯üôã¯¤ôÉ,ara,3.81,8825,8886,1045,340,651,2088,3122,2685
9769,9770,10088913,10088913,14985850,3,NaN,¯_¯_ô ¯¤ôã¯Âô ¯øô_,2009,ôÉ¯¨¯áôö¯á¯© ¯¬ô ¯´¯_¯_¯¤ôâ: ôÉ¯øô_ô ¯© ¯¤ôãô...,ôÉ¯¨¯áôö¯á¯© ¯¬ô ¯´¯_¯_¯¤ôâ: ôÉ¯øô_ô ¯© ¯¤ôãô...,ara,3.76,8103,8562,952,350,776,2051,2760,2625
9828,9829,13151637,13151637,18329688,2,NaN,ôÉ¯_ôÉ¯ø ¯µ¯¤¯øôâ,2010,"¯±ôö¯¤ô_¯© "" ¯áôà ¯¤ôã¯¼¯±ô_¯¬ """,¯áôà ¯¤ôã¯¼¯±ô_¯¬,ara,3.67,7662,7735,964,577,886,1626,2098,2548
9928,9929,6614886,6614886,6808964,2,NaN,¯£¯_ôÉ¯ø ¯¨¯¤ôã¯ø ¯»ôöôô_ôâ,0,NaN,¯_¯¼¯¤¯_ô_¯¼,ara,3.55,8944,9005,803,287,957,2978,3056,1727
9966,9967,5295735,5295735,7087982,23,NaN,"Naguib Mahfouz, ô ¯Âô_¯¬ ôÉ¯_ôôö¯ü",1977,ôÉôã¯_ôÉ¯© ¯¤ôã¯_¯±¯¤ôô_¯«,¯¤ôã¯_¯±¯¤ôô_¯«,ara,4.34,8572,10079,1216,139,297,1174,2859,5610

In [32]:
books.language_code.value_counts()

eng      6341
en-US    2070
en-GB     257
ara        64
en-CA      58
fre        25
ind        21
spa        20
ger        13
jpn         7
per         7
por         6
pol         6
en          4
nor         3
dan         3
ita         2
fil         2
vie         1
rum         1
nl          1
rus         1
tur         1
mul         1
swe         1
Name: language_code, dtype: int64

In [28]:
books['language_code'] = books['language_code'].replace(to_replace={'en-US','en-CA','en','en-GB'},value ='eng')

In [26]:
books.language_code.unique()

array(['eng', 'en-US', 'en-CA', nan, 'spa', 'en-GB', 'fre', 'nl', 'ara',
       'por', 'ger', 'nor', 'jpn', 'en', 'vie', 'ind', 'pol', 'tur', 'dan',
       'fil', 'ita', 'per', 'swe', 'rum', 'mul', 'rus'], dtype=object)

### Here we have unique values

In [18]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
id                           10000 non-null int64
book_id                      10000 non-null int64
best_book_id                 10000 non-null int64
work_id                      10000 non-null int64
books_count                  10000 non-null int64
isbn                         9300 non-null object
authors                      10000 non-null object
original_publication_year    10000 non-null int64
original_title               9415 non-null object
title                        10000 non-null object
language_code                8916 non-null object
average_rating               10000 non-null float64
ratings_count                10000 non-null int64
work_ratings_count           10000 non-null int64
work_text_reviews_count      10000 non-null int64
ratings_1                    10000 non-null int64
ratings_2                    10000 non-null int64
ratings_3                    10000 non-null int64
ratings_4                    10000 non-null int64
ratings_5                    10000 non-null int64
dtypes: float64(1), int64(14), object(5)
memory usage: 1.5+ MB

### One of the idea is to see the distribution of books according to their first publication year .  Just to see if they have survived the test of time .

In [24]:
Uni_usr_rtg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 981756 entries, 1 to 981756
Data columns (total 4 columns):
user_id             981756 non-null int64
book_id             981756 non-null int64
rating              981756 non-null int64
avg_rtng_by_user    981756 non-null float64
dtypes: float64(1), int64(3)
memory usage: 37.5 MB

In [33]:
books.original_publication_year.astype('int').head()

0    2008
1    1997
2    2005
3    1960
4    1925
Name: original_publication_year, dtype: int64

In [35]:
books.isbn.astype('int')

ValueError: invalid literal for int() with base 10: '043965548X'

In [24]:
Uni_avg_rtg .sample(5)

      book_id  avg_rating_on_book
6539     6539            3.800000
7267     7267            3.480000
1336     1336            4.090000
4450     4450            3.670000
8097     8097            3.656566

## Books dataframe analysis

In [36]:
books.isnull().sum()

id                              0
book_id                         0
best_book_id                    0
work_id                         0
books_count                     0
isbn                          700
authors                         0
original_publication_year       0
original_title                585
title                           0
language_code                1084
average_rating                  0
ratings_count                   0
work_ratings_count              0
work_text_reviews_count         0
ratings_1                       0
ratings_2                       0
ratings_3                       0
ratings_4                       0
ratings_5                       0
dtype: int64

In [37]:
##percentage of data that is missing is --
#total cells in the dataframe. 
total_cells = np.product(np.shape(books))
t = total_cells

In [38]:
#total null or missing values in the data 
k = np.sum(books.isnull().sum())

In [39]:
##percentage of data that is missing is 
miss = (k/t )*100
miss

1.1844999999999999

This shows that the dataset is pretty accurate , and not many missing values are there .

In [4]:
book_tags.head(4)

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986

In [40]:
books.shape

(10000, 20)

In [ ]:
books.sample()

In [41]:
books.sample(10)

,id,book_id,best_book_id,work_id,books_count,isbn,authors,original_publication_year,original_title,title,language_code,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
8925,8926,17287009,17287009,23907081,12,1250038820,Brandon Stanton,2013,NaN,Humans of New York,eng,4.50,12614,12865,1301,93,183,1102,3348,8139
9468,9469,16312,16312,519419,147,1572703857,"Agatha Christie, Hugh Fraser",1940,"One, Two, Buckle My Shoe","One, Two, Buckle My Shoe (Hercule Poirot, #22)",eng,3.74,11285,14936,644,93,808,5185,5720,3130
7505,7506,18878,18878,18969761,13,345456327,David Eddings,1982,The Belgariad: Part One - Pawn of Prophecy / Q...,"The Belgariad, Vol. 1: Pawn of Prophecy / Quee...",eng,4.27,13215,13502,369,125,419,1945,4262,6751
5110,5111,31140847,31140847,50572087,16,NaN,Vi Keeland,2016,NaN,Bossman,eng,4.25,24354,26697,2801,199,658,3574,10098,12168
9336,9337,55229,55229,53827,12,60899689,Jay Winik,2001,April 1865: The Month That Saved America (P.S.),April 1865: The Month That Saved America,NaN,4.15,8850,9240,359,156,379,1458,3184,4063
7286,7287,269746,269746,2516519,21,553584707,Diane Mott Davidson,1990,Catering to Nobody,Catering to Nobody (A Goldy Bear Culinary Myst...,en-US,3.85,15777,16506,718,314,814,4603,6111,4664
7652,7653,7514925,7514925,9720811,15,62114611,Jodi Lynn Anderson,2012,Tiger Lily,Tiger Lily,eng,3.98,16217,19116,4012,483,1234,3791,6258,7350
9278,9279,16130723,16130723,21955333,20,1476717095,Brad Thor,2013,Hidden Order,"Hidden Order (Scot Harvath, #12)",eng,4.10,7857,10835,724,116,351,1956,4317,4095
278,279,29056083,29056083,48765776,95,751565350,"John Tiffany, Jack Thorne, J.K. Rowling",2016,"Harry Potter and the Cursed Child, Parts One a...",Harry Potter and the Cursed Child - Parts One ...,eng,3.75,270603,397773,53365,15828,35842,96395,133156,116552
7290,7291,389763,389763,456945,27,1401911846,Wayne W. Dyer,1899,Change Your Thoughts - Change Your Life: Livin...,Change Your Thoughts - Change Your Life: Livin...,eng,4.24,11997,12818,383,218,383,1877,3988,6352

In [6]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
id                           10000 non-null int64
book_id                      10000 non-null int64
best_book_id                 10000 non-null int64
work_id                      10000 non-null int64
books_count                  10000 non-null int64
isbn                         9300 non-null object
isbn13                       9415 non-null float64
authors                      10000 non-null object
original_publication_year    9979 non-null float64
original_title               9415 non-null object
title                        10000 non-null object
language_code                8916 non-null object
average_rating               10000 non-null float64
ratings_count                10000 non-null int64
work_ratings_count           10000 non-null int64
work_text_reviews_count      10000 non-null int64
ratings_1                    10000 non-null int64
ratings_2                    10000 non-null int64
ratings_3                    10000 non-null int64
ratings_4                    10000 non-null int64
ratings_5                    10000 non-null int64
image_url                    10000 non-null object
small_image_url              10000 non-null object
dtypes: float64(3), int64(13), object(7)
memory usage: 1.8+ MB

From the info above we identify that the datatypes of some attributes need to be changed like --
    
    Atrribute       correct datatype  present datatype
    1. isbn            int                  object  
    2. isbn13          int                  float
    3.publication year int                  float 
  These will be fixed in the following steps .

In [50]:
books['language_code'].isnull().sum()

1084

Apparently one cannot change the dtype of an attribute with missing calues in it , so it needs to analysed and proper action needed to be taken like artificial imputation or dropping the row altogether .

In [62]:
plot

0

In [42]:
books.sample(5)

,id,book_id,best_book_id,work_id,books_count,isbn,authors,original_publication_year,original_title,title,language_code,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
4141,4142,10327303,10327303,14547795,25,1423147952,Ally Carter,2011,Uncommon Criminals,"Uncommon Criminals (Heist Society, #2)",NaN,4.15,35104,36383,2180,461,1112,6353,13169,15288
1136,1137,227865,227865,1333018,119,141321318,Eoin Colfer,2003,The Eternity Code,"The Eternity Code (Artemis Fowl, #3)",eng,4.04,94437,102207,1900,1169,3601,21954,38901,36582
1501,1502,12812550,12812550,17961723,66,316133973,Laini Taylor,2012,Days of Blood & Starlight,Days of Blood & Starlight (Daughter of Smoke &...,en-CA,4.21,85746,99031,10724,1604,3200,13879,34953,45395
9152,9153,8803932,8803932,13678080,19,373210329,Rachel Vincent,2011,"If I Die (Soul Screamers, #5)","If I Die (Soul Screamers, #5)",eng,4.32,14153,14810,1160,216,420,1890,4240,8044
3156,3157,6348045,6348045,6534539,40,1741663024,John Flanagan,2009,Halt's Peril,"Halt's Peril (Ranger's Apprentice, #9)",eng,4.38,33782,37525,994,246,681,4358,11472,20768

In [ ]:
books.language_code

In [65]:
Uni_avg_rtg.sample(5)

      book_id  avg_rating_on_book
7812     7812              3.6100
9757     9757              4.4375
6686     6686              3.9900
4315     4315              4.3100
485       485              3.7900

In [66]:
Uni_usr_rtg.sample(5)

        user_id  book_id  rating  avg_rtng_by_user
124724     6601     2538       4          3.926829
470769    23918     1761       5          4.444444
210686    10659     4133       4          4.045455
442634    22384     3642       5          3.470588
17874      1084     3296       4          3.837838

In [53]:
books.language_code.unique()

array(['engg', 'eng-US', 'eng-CA', nan, 'spa', 'fre', 'nl', 'ara', 'por',
       'ger', 'nor', 'jpn', 'eng', 'vie', 'ind', 'pol', 'tur', 'dan',
       'fil', 'ita', 'per', 'swe', 'rum', 'mul', 'rus'], dtype=object)

In [54]:
books['language_code] =  books['language_code'].replace (to_replace = {'en_US','en-CA','en-GB','en'},value ='eng',regex =True)

SyntaxError: invalid syntax (<ipython-input-54-beeef831aa92>, line 1)

In [55]:
books.language_code.value_counts()

engg      6598
eng-US    2070
ara         64
eng-CA      58
fre         25
ind         21
spa         20
ger         13
per          7
jpn          7
por          6
pol          6
eng          4
nor          3
dan          3
ita          2
fil          2
vie          1
rum          1
rus          1
tur          1
mul          1
nl           1
swe          1
Name: language_code, dtype: int64